/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "slnt" 0;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    line-height: 1.5;
}

.container {
    background-color: hsl(0, 0%, 12%);
    padding: 1.5em;
    border-radius: 10px;
    text-align: center;
    width: 90%;
}

.user {
    width: 100%;
}

.user img {
    max-width: 60px;
    border-radius: 50%;
    display: block;
    background-color: red;
    margin: 0 auto;
}

.user h1 {
    font-weight: 700;
    font-size: 24px;
    margin-top: 1em;
}

.user span {
    display: block;
    color: hsl(75, 94%, 57%);
    font-size: 0.875rem;
    margin-bottom: 1.3em;
    font-weight: 600;
}

.user p {
    font-size: 0.875rem;
    margin-bottom: 1em;
}

.links li a {
    background-color: hsl(0, 0%, 20%);
    display: block;
    padding: .8em 0;
    margin: 1em 0;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: .8rem;
    transition: .25s;
}

.links li a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    font-weight: 500;
}

@media (min-width: 375px) {
    .container {
        max-width: 384px;
    }
}